{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Contact form</h2>
  <form method="post">
    {{ form.as_p }}
    <button type="submit" class="btn btn-success btn-lg">Send</button>
  </form>
</div>
<hr />
<div class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Visit our office{% if locations|length > 1 %}s{% endif %}!</h2>
  <div class="row">
    {% for location in locations %}
{% if locations|length == 1 %}
    <div class="col-12">
      {% elif locations|length > 1 %}
      <div class="col-md-6">
        {% endif %}
        <h2>Our office in {{ location.town }}</h2>
  <div class="row">
    <div class="col-md-4 text-left">
      <h3>Our address</h3>
      <p>{{ location.number }} {{ location.street }}</p>
      <p>{{ location.town }}</p>
      <p>{{ location.postcode }}</p>
      <p>
        <a
          href="https://www.latlong.net/c/?lat={{ location.latitude }}&long={{ location.longitude }}"
          target="_blank"
          >View on map</a
        >
      </p>
      <p><a href="mailto:{{ location.email }}">Email us!</a></p>
    </div>

    <div class="col-md-8">
      {% if location.image %}
      <img
        src="{{ MEDIA_URL }}{{ location.image }}"
        alt="Photo of our office in {{ location.town }}"
      />
      {% else %}
      <img src="{% static 'img/image-to-be-added.jpg' %}" alt="Image to be added">
      {% endif %}
    </div>
  </div>
      {% empty %}
      <h5>Coming soon!</h5>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
