{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<section class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Contact form</h2>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper form-group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
      {{ field }}
      {% if field.help_text %}
      <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{field.help_text}}"></i>
      {% endif %}
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-success btn-lg">Send</button>
  </form>
</section>
<!-- Opening hours section from Business Casual StartBootstrap template-->
<section class="page-section cta">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Come On In</span>
            <span class="section-heading-lower">We're Open</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Monday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Tuesday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Wednesday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Thursday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Friday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Saturday
              <span class="ml-auto">9:00 AM to 5:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sunday
              <span class="ml-auto">Closed</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of copied code from template -->
<section class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Visit our office{% if locations|length > 1 %}s{% endif %}!</h2>
  <div class="row">
    {% for location in locations %}
    {% if locations|length == 1 %}
    <div class="col-12">
      {% elif locations|length > 1 %}
      <div class="col-md-6">
        {% endif %}
        <h2>Our office in {{ location.town }}</h2>
        <div class="row">
          <div class="col-md-4 text-left">
            <h3>Our address</h3>
            <p>{{ location.number }} {{ location.street }}</p>
            <p>{{ location.town }}</p>
            <p>{{ location.postcode }}</p>
            <p>
              <a href="https://www.latlong.net/c/?lat={{ location.latitude }}&long={{ location.longitude }}"
                target="_blank">View on map</a>
            </p>
            <p><a href="mailto:{{ location.email }}">Email us!</a></p>
          </div>

          <div class="col-md-8">
            {% if location.image %}
            <img src="{{ MEDIA_URL }}{{ location.image }}" alt="Photo of our office in {{ location.town }}" />
            {% else %}
            <img src="{% static 'img/image-to-be-added.jpg' %}" alt="Image to be added">
            {% endif %}
          </div>
        </div>
        {% empty %}
        <h5>Coming soon!</h5>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
  {% endblock %}