

{% extends 'base.html' %}

{% block page_title %}Password Reset: Confirm{% endblock %}

{% block page_heading %}Choose your new Password!{% endblock %}

{% block content %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post"><input type='hidden' name='csrfmiddlewaretoken' value='z61uzQDU7P9fHAhpdpn1VYXu0muMlNfodv81SXukLYsszieocIe5Z4Ohl6cd0mwo' />

{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" required id="id_new_password1" />
    </div>
    <div class="form-row field-password2">
        
        <label for="id_new_password2">Confirm password:</label>
        <input type="password" name="new_password2" required id="id_new_password2" />
    </div>
    <input type="submit" value="Change my password" />
</fieldset>
</form>
{% endblock %}