* {
  margin: 0;
}

.container {
  margin-top: 2em;
}

#mainNav,
footer {
  background-color: #477D55;
  border: 5px dotted #FEFDFB;
  padding: 0;
}

.nav-item {
  width: 16.6%;
}

#mainNav .container-fluid ul {
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #92002A;
  text-shadow: 1px 1px 3px #FEFDFB;
  border: 5px solid #477D55;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #92002A;
  font-weight: bold;
  background-color: #5E8C6A;
  text-shadow: #FEFDFB 1px 0 10px;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2em;
  margin: 2em auto;
}

img.product-item-img {
  margin: 0;
}

.navbar-brand img {
  width: 50vw;
  height: auto;
  border-radius: 0;
  margin: 0;
}

.footer {
  background-color: #477D55;
  padding: 0;
  margin: 0;
}

.site-heading .site-heading-upper {
  color: #5E8C6A;
}

.site-heading .site-heading-lower {
  color: #92002A;
  text-shadow: 1px 1px 2px #FEFDFB;
}

.section-heading .section-heading-upper {
  color: #477D55;
}

.section-heading .section-heading-lower {
  font-size: 2rem;
  color: #92002A;
  text-shadow: 1px 1px 2px #9c193f;
}

body {
  background-position: right;
}

a {
  color: #5E8C6A;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #477D55;
  text-shadow: 1px 1px 2px #5E8C6A;
  text-decoration: none;
}

.btn-success,
a.btn-success {
  background-color: #477D55;
}

.btn-success:hover,
a.btn-success:hover {
  text-shadow: none;
  background-color: #5E8C6A;
}

.btn-danger,
a.btn-danger {
  background-color: #92002A;
}

.btn-danger:hover
a.btn-danger:hover {
  text-shadow: none;
  background-color: #9c193f;
}

.btn-info,
a.btn-info {
  background-color: #FEFDFB;
  color: #477D55;
  border: 1px solid #477D55;
}

btn-info,
a.btn-info:hover {
  text-shadow: none;
  color: #FEFDFB;
  background-color: #92002A;
  border: 1px ridge #477D55;
}

.cta {
  background-color: #92002A95;
}

.cta-inner {
  border: .25rem double #92002A95;
}

.rounded {
  border-radius: 1rem;
}

.card.team-member {
  height: 100%;
}

.team-member img {
  width: 50%;
  margin-left: auto;
  border-radius: 50%;
}

.service-image,
.card img {
  width: 80%;
  height: auto;
  margin: 20px auto;
  border-radius: 5px;
}

.card {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
}

.site-heading {
  text-shadow: #FEFDFB 1px 0 2px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
}

.page-title .section-heading .section-heading-upper,
.page-title .section-heading .section-heading-lower {
  text-shadow: #FEFDFB 1px 0 2px;
}

.section-heading .section-heading-upper.small-heading {
  font-size: 1.3rem;
}

.btn-fluid {
  width: 100%;
}

form table input {
  width: 100%;
}

span.helptext {
  font-size: x-small;
}

@media screen and (min-width: 481px) {
  .section-heading .section-heading-lower {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) {
  #mainNav .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 2em;
  }

  .page-title .section-heading .section-heading-lower {
    font-size: 4rem;
  }

  .page-title .section-heading .section-heading-upper {
    font-size: 2rem;
  }

  .section-heading .section-heading-lower {
    font-size: 3rem;
  }

  .section-heading .section-heading-upper {
    font-size: 1.5rem;
  }
}

/* Christmas Countdown styles
adapted from inline styles in 
https://www.days-until-christmas.co.uk/webcounts/xcd3248.js) */
div#xcd3248 {
  width: 180px;
  height: 130px;
  overflow: hidden;
  font-family: Verdana, Arial;
  cursor: pointer;
  background: url(https://www.days-until-christmas.co.uk/webcounts/imgs/xcd1.jpg);
  text-align: center;
  line-height: normal;
  position: relative;
}
div#xcd3248 div {
  font-weight: bold;
  color: #92002A;
  position: absolute;
  left: 0;
  width: 100%;
}
div#xcd3248 a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  color: transparent;
}
/* End of Christmas Countdown styles */

@media (min-width: 992px) {
  .product-item-title div {
    width: 60%;
  }

  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 40%;
  }

  .about-heading .about-heading-content {
    margin-top: -20rem;
    position: relative;
    z-index: 1;
  }

  .staff-image,
  .service-detail-image {
    width: 35%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
