* {
  margin: 0
}

/* Hover effect adjusted from Hover.css */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* End hover effect code from Hover.css */


.container {
  margin-top: 2em;
}

#mainNav,
footer {
  background-color: darkgreen;
  border: 5px dotted whitesmoke;
  padding: 0;
}

.nav-item {
  width: 16.6%
}

#mainNav .container-fluid ul{
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: red;
  border: 5px solid darkgreen;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link:hover{
  color: red;
  font-weight: bold;
  background-color: green;
  text-shadow: whitesmoke 1px 0 10px;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2em;
  margin: 2em auto;
}

img.product-item-img {
  margin: 0;
}


.navbar-brand img {
  width: 50vw;
  height: auto;
  border-radius: 0;
  margin: 0;
}

.footer {
  background-color: darkgreen;
  padding: 0;
  margin: 0;
}

.section-heading .section-heading-upper {
  color: darkgreen
}

.section-heading .section-heading-lower {
  font-size: 2rem;
  color: red;
  text-shadow: black 1px 0 10px;
}

body {
  background-position: right;
}

a:hover {
  color: darkgreen;
  text-shadow: 3px 3px red;
  text-decoration: none;
  border: 5px solid red
}

a {
  color: green;
  text-decoration: none;
  background-color: transparent;
}

.cta {
  background-color: rgba(128, 0, 0, 0.9);
}

.rounded {
  border-radius: 1rem;
}

.card.team-member {
  height: 100%;
}

.team-member img {
  width: 50%;
  margin-left: auto;
  border-radius: 50%;
}

.service-image,
.card img {
  width: 80%;
  height: auto;
  margin: 20px auto;
  border-radius: 5px;
}

.card {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.site-heading {
  text-shadow: whitesmoke 1px 0 2px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
}

.page-title .section-heading .section-heading-upper,
.page-title .section-heading .section-heading-lower {
  text-shadow: whitesmoke 1px 0 2px;
}

@media screen and (min-width: 481px) {
  .section-heading .section-heading-lower {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) {
  #mainNav .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 2em;
  }

  .page-title .section-heading .section-heading-lower {
    font-size: 4rem;
  }

  .page-title .section-heading .section-heading-upper {
    font-size: 2rem;
  }

  .section-heading .section-heading-lower {
    font-size: 3rem;
  }

  .section-heading .section-heading-upper {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .about-heading .about-heading-content {
    margin-top: -30rem;
    margin-bottom: 10rem;
    position: relative;
    z-index: 1;
  }

  .about-heading .about-heading-img {
    margin-bottom: 10rem;
  }

  .staff-image,
  .service-detail-image {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
