* {
  margin: 0
}

.container {
  margin-top: 2em;
}

#mainNav,
footer {
  background-color: darkgreen;
  border: 5px dotted whitesmoke;
  padding: 0;
}

.nav-item {
  width: 16.6%
}

#mainNav .container-fluid ul{
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: red;
  border: 5px solid darkgreen;
}

#mainNav .container-fluid .navbar-nav .nav-item .nav-link:hover{
  color: red;
  font-weight: bold;
  background-color: green;
  text-shadow: whitesmoke 1px 0 10px;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2em;
  margin: 2em auto;
}

img.product-item-img {
  margin: 0;
}


.navbar-brand img {
  width: 50vw;
  height: auto;
  border-radius: 0;
  margin: 0;
}

.footer {
  background-color: darkgreen;
  padding: 0;
  margin: 0;
}

.site-heading .site-heading-upper {
  color: green
}

.section-heading .section-heading-upper {
  color: darkgreen
}

.section-heading .section-heading-lower {
  font-size: 2rem;
  color: red;
  text-shadow: black 1px 0 10px;
}

body {
  background-position: right;
}

a:hover {
  color: darkgreen;
  text-shadow: 3px 3px red;
  text-decoration: none;
}

a.btn-success:hover {
  text-shadow: none;
  background-color: green;
  border: 1px ridge red
}

a.btn-danger:hover {
  text-shadow: none;
  color: darkgreen;
  border: 1px ridge darkgreen
}

a.btn-info {
  background-color: snow;
  color: darkgreen;
  border-color: darkgreen;
}

a.btn-info:hover {
  text-shadow: none;
  color: snow;
  background-color: red;
  border: 1px ridge darkgreen;
}

a {
  color: green;
  text-decoration: none;
  background-color: transparent;
}

.cta {
  background-color: rgba(128, 0, 0, 0.9);
}

.rounded {
  border-radius: 1rem;
}

.card.team-member {
  height: 100%;
}

.team-member img {
  width: 50%;
  margin-left: auto;
  border-radius: 50%;
}

.service-image,
.card img {
  width: 80%;
  height: auto;
  margin: 20px auto;
  border-radius: 5px;
}

.card {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
}

.site-heading {
  text-shadow: whitesmoke 1px 0 2px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
}

.page-title .section-heading .section-heading-upper,
.page-title .section-heading .section-heading-lower {
  text-shadow: whitesmoke 1px 0 2px;
}

.section-heading .section-heading-upper.small-heading {
  font-size: 1.3rem;
}

.btn-fluid {
  width: 100%
}

form table input {
  width: 100%;
}

span.helptext {
  font-size: x-small;
}

@media screen and (min-width: 481px) {
  .section-heading .section-heading-lower {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) {
  #mainNav .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 2em;
  }

  .page-title .section-heading .section-heading-lower {
    font-size: 4rem;
  }

  .page-title .section-heading .section-heading-upper {
    font-size: 2rem;
  }

  .section-heading .section-heading-lower {
    font-size: 3rem;
  }

  .section-heading .section-heading-upper {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .about-heading .about-heading-content {
    margin-top: -30rem;
    margin-bottom: 10rem;
    position: relative;
    z-index: 1;
  }

  .about-heading .about-heading-img {
    margin-bottom: 10rem;
  }

  .staff-image,
  .service-detail-image {
    width: 35%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
