{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0 col-lg-6 col-xl-5"
      src="{% static 'img/about.jpg' %}"
      alt="Our office Christmas tree with silver baubles and tinsel, with red parcels at the bottom"
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 ml-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"
                >Bringing back the Magic of Christmas</span
              >
              <span class="section-heading-lower">About Our Company</span>
            </h2>
            <p>
              Founded in 2013 by Cassie Smith, our company has been making
              Christmas magical again for the people of Hemel Hempstead and
              surrounding areas. So far, we've catered for both office and home
              parties, decked out Christmas trees large and small, organised
              lavish Christmas-themed getaways up to and including a visit to
              Father Christmas himself, and once we were even asked to help with
              a festive deep-clean!
            </p>
            <p class="mb-0">
              Too good to be true? It's not. We guarantee that you will fall in
              <em>love</em> with the season again even if you're an absolute
              Scrooge who thinks it's all just humbug when you see what we can
              do. Let us help make your Christmas magical again!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
      src="{% static 'img/team.jpg' %}"
      alt="Meet the team"
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Not a one-man job</span>
              <span class="section-heading-lower">Meet the team</span>
            </h2>
            <div class="row">
              {% for instance in object_list %}

              <div class="col-md-6">
                <a href="{{ instance.employee.get_absolute_url }}">
                  <div class="card team-member">
                    <img
                      src="{% static 'img/employee-profile-images/' %}{{instance.username}}.png"
                      alt="Profile pic for {{ instance.first_name }} {{ instance.last_name }}"
                    />
                    <h2>{{ instance.first_name }} {{ instance.last_name }}</h2>
                    <h3>{{ instance.employee.title }}</h3>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
