{% extends 'base.html' %} {% load static %} {% block content %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded mx-auto"
        src="{% static 'img/intro.jpg' %}"
        alt="Getting the office ready for Christmas"
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">A Holiday</span>
          <span class="section-heading-lower">Worth Celebrating</span>
        </h2>
        <p class="mb-3">
          A lovely Christmas tree, wrapped presents under the tree with
          tantalizing secrets hidden inside, snuggling up in the warmth away
          from the cold outside with your loved ones... Who doesn't love
          Christmas?
        </p>
        <p class="mb-3">
          Actually, maybe you don't, because all the preparations can get
          stressful. Let us help make your Christmas magical again!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-success btn-xl" href="/services">Book Today!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">
              To You
              {% if user.is_authenticated %}
              , {{ user.first_name }} 
              {% endif %}
            </span>
          </h2>
          <p class="mb-0">
            Whether you come to our premises on the High Street for a
            face-to-face chat or order online, we are dedicated to providing you
            with friendly planners, a welcoming atmosphere, and above all else,
            an excellent service. If you are not satisfied, please let us know
            and we will do whatever we can to make things right!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section clearfix">
  <div class="container">
    <div class="success-stories">
      <div class="left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper"
            >Success story: {{ object.client_first_name}} 
            {% if object.client_last_name_initial %}
            {{object.client_last_name_initial}}
            {% endif %}
            {% if object.client_company %}
             - {{ object.client_company }} 
            {% endif %}
            </span>
          <span class="section-heading-lower">{{ object.title }}</span>
        </h2>
        {{ object.description|linebreaks }}
        <div class="intro-button mx-auto">
          <a
            class="btn btn-success btn-xl"
            href="{% url 'services:services_list' %}"
            >Book Today!</a
          >
          <a class="btn btn-info btn-xl" href="{% url 'about:casestudies' %}"
            >More Like this</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
