{% extends 'base.html' %} {% load static %} {% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img staff-image"
      src="/media/{{ obj.employee.profile_pic }}"
      alt="Profile pic for {{ obj.first_name }}"
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 ml-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"
                >{{ obj.employee.title }}</span
              >
              <span class="section-heading-lower"
                >{{ obj.first_name }} {{ obj.last_name}}</span
              >
            </h2>
            <p>
              {{ obj.employee.intro }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock %}

