{% extends 'base.html' %}  
{% block content %}
<div class="container bg-faded rounded my-3 p-3">
  <p>
    Please enter your new password twice so we can verify you typed it in
    correctly.
  </p>

  <form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row field-password1">
        <label for="id_new_password1">New password:</label>
        <input
          type="password"
          name="new_password1"
          required
          id="id_new_password1"
        />
      </div>
      <div class="form-row field-password2">
        <label for="id_new_password2">Confirm password:</label>
        <input
          type="password"
          name="new_password2"
          required
          id="id_new_password2"
        />
      </div>
      <input type="submit" value="Change my password" />
    </fieldset>
  </form>
</div>

{% endblock %}
