{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<section class="page-title mt-5">
    <h2 class="section-heading mx-auto mt-3 text-center">
        <span class="section-heading-upper mx-auto">Profile Page for {{ profile.username }}</span>
        <span class="section-heading-lower mx-auto">Welcome, {{ profile.first_name }} {{profile.last_name}}</span>
    </h2>
    <div class="container bg-faded my-3 p-3 rounded">
        <h3>Your purchases</h3>
        <div class="row">
            {% for purchase in purchases %}
            <div class="col-md-4">
                <div class="card">
                    <h4>{{ purchase.date }}</h4>
                    <p>{{ item.orderlineitem }}</p>
                </div>
            </div>
            {% empty %}
            <p>You've not made any purchases yet.</p>
            {% endfor %}
        </div>
    </div>
    <div class="container bg-faded my-3 p-3 rounded">
        <div class="row">
            <div class="col-md-6">
                <h3>Account Details</h3>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ account_form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-lg btn-success btn-fluid">Update</button>
                </form>
            </div>
            <div class="col-md-6"></div>
        </div>
        <p class="section-heading-lower">Coming soon</p>
        <a href="{% url 'services:services_list' %}" class="btn btn-fluid btn-lg btn-info">Shop now!</a>
    </div>
</section>


{% endblock %}