<!-- Base page.
  This holds all the elements that are present on each and every page
 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head (with metadata and CSS-links) -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name=description
    content="Website for fictional company Calling Mrs Christmas, based on the book of the same name by Carole Matthews">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <title>Calling Mrs Christmas</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this site-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<!-- end of head -->
<body>
  <!-- header only shows on large screens -->
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper mb-3">Your one-stop-shop for Christmas help</span>
    <span class="site-heading-lower">Calling Mrs Christmas</span>
  </h1>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'index' %}"><img
          src="{% static 'img/callingmrschristmas.png'%}"
          alt="Calling Mrs Christmas logo: a red telephone horn with a speech bubble" /></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'about:about_list' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'services:services_list' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'contact:contact' %}">Contact</a>
          </li>
          {% if count > 0 %}
          <li class="nav-item">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'cart:view_cart' %}">
              <i class="fas fa-shopping-cart"></i>
              <!-- This code is uncommented so the badge can be readded later when service packages are added. Currently it only causes confusion, so leaving it out.
              {% if count > 0 %}
              <span class="badge badge-light">{{ count }}</span>
              {% endif %} -->
            </a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-user"></i>
              {% if user.is_authenticated %}
              {{ user.first_name }}
              {% endif %}
            </a>
            <div class="dropdown-menu">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out
              </a>
              <a class="dropdown-item" href="{% url 'accounts:profile' %}"><i class="fas fa-id-badge"></i> Profile </a>
              {% else %}
              <a class="dropdown-item" href="{% url 'accounts:login' %}"><i class="fas fa-door-open"></i> Log In </a>
              <a class="dropdown-item" href="{% url 'accounts:register' %}"><i class="fas fa-user-plus"></i> New
                User</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- This code shows messages to user if any exist -->
  {% if messages %}
  <div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>
    {{ message|safe }}
    </p>
    {% endfor %}
  </div>
  {% endif %}
  <!-- This is where the page content will be shown -->
  {% block content %}
  {% endblock %}
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-6 col-lg-9 my-auto">
          <p class="m-0">
            <!-- Non-breaking spaces and dash used for better display on mobile screens, in order words to avoid the company name breaking up into multiple lines, and same with the years -->
            &copy; Copyright: Calling&nbsp;Mrs&nbsp;Christmas 2013&nbsp;&#8209;&nbsp;<span id="current-year"></span>
          </p>
          <p class="d-none d-lg-block mb-0">Site created by <a href="https://github.com/Wings30306"
              rel="noreferrer noopener" target="_blank"><i class="fab fa-github"></i> Jo Heyndels</a></p>
          <p class="d-none d-lg-block mb-0">Characters and story borrowed with kind permission from the book <a
              href="https://www.carolematthews.com/books/calling-mrs-christmas/" target="_blank"
              rel="noopener noreferrer">Calling Mrs Christmas</a> by the wonderful <a
              href="https://www.carolematthews.com/" rel="noreferrer noopener" target="_blank">Carole Matthews</a>.</p>
        </div>
        <div class="col-6 col-lg-3 p-0">
          <!--Christmas countdown clock adapted from from
          https://www.days-until-christmas.co.uk/website-xmas-countdown.htm-->
          <div id="xcd3248" class="ml-auto">
            <a href="https://www.days-until-christmas.co.uk" id="xcda3248" target="_blank"
              rel="noopener noreferrer">Christmas Countdown website</a>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- custom scripts for a specific template -->
  {% block custom_scripts_js %}
  {% endblock %}
  <!-- END OF PAGE-->
</body>

</html>