{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container bg-faded rounded my-3 text-center">
  <h2>Our office in {{ object.town }}</h2>
  <div class="row">
    <div class="col-md-4 text-left">
      <h3>Our address</h3>
      <p>{{ object.number }} {{ object.street }}</p>
      <p>{{ object.town }}</p>
      <p>{{ object.postcode }}</p>
      <p>
        <a
          href="https://www.latlong.net/c/?lat={{ object.latitude }}&long={{ object.longitude }}"
          target="_blank"
          >View on map</a
        >
      </p>
      <p><a href="mailto:{{ object.email }}">Email us!</a></p>
    </div>

    <div class="col-md-8">
      {% if object.image %}
      <img
        src="{{ MEDIA_URL }}{{ object.image }}"
        alt="Photo of our office in {{ object.town }}"
      />
      {% else %}
      <img src="{% static 'img/image-to-be-added.jpg' %}" alt="Image to be added">
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
