{% extends "base.html" %} {% block content %}
<h2>Contact form</h2>
<form action="" method="post">
  form to be added
  <button type="submit">Send</button>
</form>
<hr />
<h2>Visit our office!</h2>
<div class="row">
  {% for instance in object_list %} 
    {% if object_list|length == 1 %}
    <div class="col-12">
    {% elif object_list|length < 1 %}
    <div class="col-md-6">
      {% endif %}
      <div class="card">
        <h5>{{ instance.town }}</h5>
        <img
          src="/media/{{ instance.image }}"
          alt="Image for {{ instance.town }} branch"
        />
        <p>{{ instance.street }} {{ instance.number }}</p>
      </div>

      {% empty %}
      <h5>Coming soon!</h5>
      {% endfor %}
    </div>
    {% endblock %}
  </div>
</div>
