{% extends "base.html" %} {% block content %}
<div class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Contact form</h2>
  <form action="" method="post">
          <p>form to be added</p>
    <button type="submit">Send</button>
  </form>
</div>
<hr />
<div class="container bg-faded rounded my-3 p-3 text-center">
  <h2>Visit our office{% if object_list|length > 1 %}s{% endif %}!</h2>
  <div class="row">
    {% for instance in object_list %} {% if object_list|length == 1 %}
    <div class="col-12">
      {% elif object_list|length > 1 %}
      <div class="col-md-6">
        {% endif %}
        <div class="card">
          <h5>{{ instance.town }}</h5>
          <img
            src="/media/{{ instance.image }}"
            alt="Image for {{ instance.town }} branch"
          />
          <p>{{ instance.street }} {{ instance.number }}</p>
        </div>
      </div>
        {% empty %}
        <h5>Coming soon!</h5>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
