* {
  margin: 0
}

.container {
  margin-top: 2em;
}

#mainNav,
footer {
  background-color: darkgreen;
  border: 5px dotted whitesmoke;
  padding: 0;
}

#mainNav .container{
  margin-top: 0
}

#mainNav .navbar-nav .nav-item .nav-link{
  color: red;
  border: 5px solid darkgreen;
}

#mainNav .navbar-nav .nav-item .nav-link:hover{
  color: red;
  background-color: green;
  text-shadow: whitesmoke 1px 0 10px;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2em;
  margin: 2em auto;
}

img.product-item-img {
  margin: 0;
}


.navbar-brand img {
  width: 50vw;
  height: auto;
  border-radius: 0;
}

.footer {
  background-color: darkgreen;
  padding: 0;
  margin: 0;
}

.section-heading .section-heading-upper {
  color: darkgreen
}

.section-heading .section-heading-lower {
  font-size: 2rem;
  color: red;
  text-shadow: black 1px 0 10px;
}

body {
  background-position: right;
}

a:hover {
  color: darkgreen;
  text-shadow: 3px 3px red;
  text-decoration: none;
  border: 5px solid red
}

a {
  color: green;
  text-decoration: none;
  background-color: transparent;
}

.cta {
  background-color: rgba(128, 0, 0, 0.9);
}

.rounded {
  border-radius: 1rem;
}

.card.team-member {
  height: 100%;
}

.team-member img {
  width: 50%;
  margin-left: auto;
  border-radius: 50%;
}

.service-image,
.card img {
  width: 80%;
  height: auto;
  margin: 20px auto;
  border-radius: 5px;
}

.card {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.site-heading {
  text-shadow: whitesmoke 1px 0 10px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
}

@media screen and (min-width: 481px) {
  .section-heading .section-heading-lower {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) {
  .section-heading .section-heading-lower {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .about-heading .about-heading-content {
    margin-top: -30rem;
    margin-bottom: 10rem;
    position: relative;
    z-index: 1;
  }

  .about-heading .about-heading-img {
    margin-bottom: 10rem;
  }

  .staff-image,
  .service-detail-image {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
